<html>
   <body>
      {% load staticfiles %}
      {% load csplit %}

      <link href="{%static 'css/base.css'%}" rel="stylesheet" type="text/css" />
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
        {% if e_status %}
            <h4 id="invalid_host"><div style="color:red">Invalid Hostname</div>
            <div class="tooltip">&#9432;
              <span class="tooltiptext">eg. http://google.com or http://publicIP</span>
            </div>
            </h4>
         {% endif %}
      <span style="color:red;display: none;" id="j-check">Enter Valid Address</span>
      <form action="" method="post" class="form-wrapper cf" {% if status %} style="margin-top: 20px !important" {% endif %}>{% csrf_token %}


          <input type="text" placeholder="Command" id="command_id" required, name="command" value='{{command}}'>
         <input type="text" placeholder="Host Name" id="host_id" required, name="host_name" value='{{s_word}}'>
         <button type="button" id="sub-btn">Search</button>
      </form>
      <span id="loader-img"></span>
      <div style="text-align: left; padding-left: 39%; padding-top: 1%; color: #9a9393;" id="command_display"></div>
      {% if status %}
      <!--<table class="one">-->
         <!--<tr>-->
            <!--<td>-->
               <!--<div class="byline">-->
                  <!--<p>Ping Result</p>-->
               <!--</div>-->
            <!--</td>-->
         <!--</tr>-->
         <!--{% for res in p_res %}-->
         <!--<tr>-->
            <!--<td>-->
            <!--<p>-->
            <!--{% with res|csplit as lines %}-->
                <!--{% for line in lines %}-->
                    <!--<span>{{ line }}</span><br>-->
                <!--{% endfor %}-->
            <!--{% endwith %}-->
            <!--</p>-->
            <!--</td>-->

         <!--</tr>-->
         <!--{% endfor %}-->
      <!--</table>-->
      <table class="two" style="margin-left: 27%;font-size:small">
         <tr>
            <td>
               <h4 class="" style="padding-left:23%">
               </h4>
            </td>
         </tr>
        {% for res in t_res %}
         <tr>
         <td>
         <p>
            {% with res|csplit as lines %}
                {% for line in lines %}
                    <span>{{ line }}</span><br>
                {% endfor %}
            {% endwith %}
            </p>
            </td>

         </tr>
         {% endfor %}
      </table>
      {% endif %}
   </body>
   <script type="text/javascript">

        $('#host_id').change(function(){
            $('#j-check').hide();
            changeCommandText();
        })

        $('#command_id').change(function(){
            changeCommandText();
        })

        function changeCommandText() {
            var h = $('#host_id').val();
            if(h!=""){
                var arr = h.split('://');
                if(arr.length>1){
                    var txt = 'Command will be: `'+ $('#command_id').val() +' '+ arr[1] +' `';
                }else{
                    var txt = 'Command will be: `'+ $('#command_id').val() +' Host Name`';
                }
            }else{
                var txt = 'Command will be: `'+ $('#command_id').val() +' Host Name`';
            }
            $('#command_display').html(txt);
        };

       $("#sub-btn").click(function(){
            uri = $('#host_id').val();
            $('#j-check').hide();
            if(protocolValidation(uri) && (isUrl(uri) || ValidateIPaddress(uri))){
                $('.form-wrapper').submit();
                $("#sub-btn").attr("disabled", "disabled");
                $('#loader-img').append('<img src="{% static 'img/load.gif'%}" alt="User Image" style="width:50px; height=50px; margin-top: 4%;" />');
                $('#invalid_host').remove();
            }else{
                $('#j-check').show();
            }
       });


      var load_elm = '<tr id="img-circle">'+
             '<td><img src="{% static 'img/load.gif'%}" alt="User Image" style="width:50px; height=50px; margin-left: 45%;" /></td>'+
             +'</tr>';
      $("#search").click(function(){  
            $('.two').append(load_elm);  
            var c = 0;
            while(c<5){
                myFunction();
                c = c+1;
            }

      });
      
    function myFunction() {
        $.get( "/getTrace", function( data ) {
            var str_array = data.split('\n');
            
            $('#img-circle').remove();
            $('.two').append('<tr><td>');
            for(var i = 0; i < str_array.length; i++) {
               // Trim the excess whitespace.
               $('.two').append('<p>'+str_array[i]+'</p>');
               // Add additional code here, such as:
            }
            $('.two').append('</td></tr>');
        });
    }


    function protocolValidation(s) {
        var regexp = /(http|https):\/\/?/
        if(regexp.test(s)){
            return true
        }else{
            $('#j-check').html('Please Enter Valid Protocol(http:// or https://)');
            return false
        }
    }

    function isUrl(s) {
        var regexp = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
        if(regexp.test(s)){
            return true
        }else{
            $('#j-check').html('Please Enter Valid URL');
            return false
        }
    }

    function ValidateIPaddress(ipaddress) 
    {
     if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress))
      {
        return (true)
      }
    $('#j-check').html('Please Enter Valid ipaddress');
    return (false)
    }


   </script>
   <style type="text/css">
        tr{
   border: 1px solid #dddddd;
}
   </style>
</html>